@font-face {
    font-family: 'earth_orbiter_titleregular';
    src: url('font_styles/earth_orbiter/earthorbitertitle-webfont.woff2') format('woff2'),
         url('font_styles/earth_orbiter/earthorbitertitle-webfont.woff') format('woff'),
         url('font_styles/earth_orbiter/earthorbitertitle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: 16px;
}


.video-container {
    position: static;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0);
    position: fixed;
    /* box-shadow: 0 0.1rem 0.3rem rgba(24, 24, 35, 100); */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


nav a {
    color: #090909;
    text-decoration: none;
    padding: 10px;
    font-family: 'earth_orbiter_titleregular';
    font-size: 1rem;
    position: relative;
    /* Set the background to a gradient from dark blue to yellow to grassy green */

}


nav a:hover {
    background-color: #5c5ab8;
    background: linear-gradient(to right,#090909, #5c5ab8, #ffdb58, yellow, #4CAF50);
    /* Use transparent text so the gradient background is visible */
    color: transparent;
    /* Apply a background clip to show the gradient only behind the text */
    -webkit-background-clip: text;
    background-clip: text;
    
}


nav .dropdown {
    position: relative;
    display: inline-block;
}


nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    min-width: 10rem;
    box-shadow: none; 
    /* box-shadow: 0 0.3rem 0.5rem rgba(24, 24, 35, 100); */
    z-index: 1;
    text-align: center;
}


nav .dropdown:hover .dropdown-content {
    display: block;
}


nav .dropdown-content a {
    color: #090909;
    font-size: 1rem;
    padding: 10px 0; 
    text-decoration: none;
    display: block;
    white-space: pre;
    
}


nav .dropdown-content a:hover {
    background-color: #5c5ab880;
    background: linear-gradient(to right,#090909, #5c5ab8, #ffdb58, yellow, #4CAF50);
    /* Use transparent text so the gradient background is visible */
    color: transparent;
    /* Apply a background clip to show the gradient only behind the text */
    -webkit-background-clip: text;
    background-clip: text;    
    /* Add a glowing effect with text-shadow */
    /* text-shadow: 0 0 10px #5c5ab8, 0 0 30px #ffdb58, 0 0 30px #5c5ab8; */
}


nav .dropdown:hover .dropdown-content {
    display: block;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
}

.form-section {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label, input, select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5c5ab8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5c5ab8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0.5px 0px;
    color: white;
    box-sizing: border-box;
}

.footer-video {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

/* Media Queries for Responsive Design */

/* Media Query for Small Screens Testing & Responsive Design for NavBar and Footer*/

@media (min-width: 1700px) {
    nav {
        flex-direction: row;
        align-items: stretch;
    }

    nav a {
        width: 100%;
        height: 100%;
    }

    nav .dropdown-content {
        min-width: 100%;
        min-height: 100%;
    }
}

@media (min-width: 1700px) {

    footer {
        padding: 5px;
        
    }

    .footer-video {
        height: 50px;
    }

} 