@font-face {
    font-family: 'earth_orbiter_titleregular';
    src: url('https://github.com/tonyArkaysia/isl/blob/1d8068e3f224018dda8db3d6b471d62545a3fb29/font_kit/earthorbitertitle-webfont.woff2') format('woff2'),
         url('https://github.com/tonyArkaysia/isl/blob/1d8068e3f224018dda8db3d6b471d62545a3fb29/font_kit/earthorbitertitle-webfont.woff') format('woff'),
         url('https://github.com/tonyArkaysia/isl/blob/abe648af799b0f5fd8144e346a6666971078bd6c/font_kit/earthorbitertitle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





body {
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    height: 100vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'earth_orbiter_titleregular';
    font-size: larger;
    position: relative;
}

nav a:hover {
    background-color: #5c5ab8;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content a {
    color: white;
    padding: 10px 0; 
    text-decoration: none;
    display: block;
}

nav .dropdown-content a:hover {
    background-color: #5c5ab8;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

.footer-video {
    width: 100%;
    height: 100px;
    object-fit: cover;
}





@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: stretch;
    }
  
    nav a {
      width: 100%;
    }
  
    nav .dropdown-content {
      min-width: 100%;
    }
  
    footer {
      padding: 5px;
    }
  
    .footer-video {
      height: 50px;
    }
  }
  