@font-face {
    font-family: 'earth_orbiter_titleregular';
    src: url('earthorbitertitle-webfont.woff2') format('woff2'),
         url('earthorbitertitle-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}